@import "../../global.scss";


.timerBox{
    .pauseCol{
        background-color: grey;
    }
    .breakCol{
        background-color: #2ABFBF;

    }
    .sessionCol{
        background-color: #F2B705;

    }
    width: 40vw;
    height: 65vh;
    font-size: 35px;
    text-align: center;
    .wrapper{
        display: flex;
        flex-direction: column;
        .session{
            flex:1;
        }
        .break{
            flex:1;
        }
    }
}